
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
<section class="top">
    <div class="logo">
        <img src='./assets/logo.gif'>
    </div>
    <nav class='menu'>
    <a class="nav" routerLink="/חברי קופת חולים">
        <div class="icon"><i class="fa fa-users"></i></div>
        <div class="icon">חברי הקופה</div>
    </a>
    <a class="nav" routerLink="/הוספת חבר חדש">
        <div class="icon"><i class="fa fa-user"></i></div>
        <div class="icon">הוספת חבר</div>
    </a>
</nav>
</section>
<section class="sec">
<router-outlet></router-outlet></section>
